* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: linen;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 28px;
    margin-top: -10%;
}

h1 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(40, end), blink-caret 2.3s step-end forwards;
    border-right: .15em solid black;
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
  }

  @keyframes blink-caret {
    0% { border-color: transparent }
    10% { border-color: black; }
    20% { border-color: transparent }
    30% { border-color: black; }
    40% { border-color: transparent }
    50% { border-color: black; }
    60% { border-color: transparent; }
    70% { border-color: black; }
    80% { border-color: transparent; }
    90% { border-color: black; }
    100% { border-color: transparent; }
}

.start-button {
    text-decoration: none;
    color: black;
    background-color: #efeee6;
    padding: 12px;
    border: 1px dashed black;
    border-radius: 8px;
    font-size: 14px;
    width: 140px;
    text-align: center;
    display: block;
    margin: -10px auto 0;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    opacity: 0;
    animation: fadeIn 5s 1s forwards;
}

.start-button:hover {
    cursor: url(images/bear-cursor.png), auto;
    background-color: #fefcfa;
    border: solid;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}





.page-1, .page-2, .page-3 {
    width: 100vw;
    background-color: linen;
    margin: 0;
    padding: 0;
}

.lanzarote-drawing {
    opacity: 0;
    animation: fadeInPage 5s forwards;
    position: absolute;
}

.standing-bear {
    width: 200px;
    z-index: 1;
    position: absolute;
    bottom: 20%;
    right: 40%;
    animation: fadeInPage 5s forwards;
}

@keyframes fadeInPage {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

p.opening-text {
    margin: 60px 40px 30px;
    width: 350px;
}

p.opening-text-polly {
    margin: 0 40px 40px;
    width: 350px;
}

.page-1-button {
    text-decoration: none;
    color: black;
    background-color: #efeee6;
    padding: 12px;
    border: 1px dashed black;
    border-radius: 8px;
    font-size: 14px;
    width: 140px;
    text-align: center;
    display: block;
    margin-left: 40px;
    position: absolute;
    top: 40%;
    opacity: 0;
    animation: fadeIn 5s 4s forwards;
}

@media (max-width: 400px) {
    p.opening-text {
        margin-bottom: 25px;
        width: 350px;
    }

    p.opening-text, p.opening-text-polly {
        width: 270px;
        left: 10%;
    }

    .page-1-button {
        font-size: 12px;
        width: 130px;
        top: 43%;
    }
}

.page-1-button:hover {
    cursor: url(images/bear-cursor.png), auto;
    background-color: #fefcfa;
    border: solid;
}




img.background {
    opacity: 0;
    animation: fadeInPage 5s forwards;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.standing-bear-side {
    width: 200px;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 25%;
    animation: fadeInPage 5s forwards;
}

.opening-text-2 {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.exercise-1 {
    position: absolute;
    top: 30%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.quiz {
    display: flex;
    position: absolute;
    top: 40%;
    right: 22%;
    gap: 20px;
}

@media (max-width: 676px) {
    .quiz {
        right: 25%;
    }
}

.correct-answer, button, input[id="try-it-input"], .page-6-button, .page-7-button {
    text-decoration: none;
    color: black;
    background-color: linen;
    padding: 12px;
    border: 1px dashed black;
    border-radius: 8px;
    font-size: 14px;
    width: 140px;
    text-align: center;
    display: block;
    opacity: 0;
    animation: fadeIn 3s 1s forwards;
}

.correct-answer:hover, .wrong-answer:hover, button:hover, input[id="try-it-input"]:hover, .page-6-button:hover, .page-7-button:hover {
    cursor: url(images/bear-cursor.png), auto;
    background-color: #fefcfa;
    border: solid;
}

#textField {
    position: absolute;
    top: 55%;
    right: 22%;
    width: 300px;
    background-color: black;
    color: linen;
}

@media (max-width: 400px) {
    .opening-text-2 {
        top: 10%;
        width: 250px;
        left: 10%;
        background-color: linen;
    }

    .exercise-1 {
        width: 250px;
        top: 37%;
        left: 10%;
    }

    .quiz {
        left: 10%;
        top: 47%;
        gap: 15px;
        width: 250px;
    }

    .quiz a, .quiz button {
        font-size: 12px;
    }

    #textField {
        position: absolute;
        top: 59%;
        left: 10%;
        width: 250px;
    }
}




.walking-bear {
    width: 300px;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    right: 20%;
    animation: fadeInPage 5s forwards;
}

.opening-text-3 {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.exercise-2 {
    position: absolute;
    top: 40%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

textarea {
    position: absolute;
    top: 47%;
    right: 20%;
    width: 350px;
}

textarea:focus {
    outline: 0.5px solid black;
  }

button#try-it {
    position: absolute;
    top: 55%;
    right: 20%;
    z-index: 2;
}

#textField-2 {
    position: absolute;
    top: 63%;
    right: 20%;
    width: 300px;
    background-color: black;
    color: linen;
    z-index: 2;
}

@media (max-width: 400px) {
    .opening-text-3 {
        top: 10%;
        width: 270px;
        left: 10%;
        background-color: linen;
    }

    .exercise-2 {
        width: 270px;
        top: 38%;
        left: 10%;
    }

    textarea {
        left: 10%;
        top: 46%;
        width: 270px;
    }

    button#try-it {
        position: absolute;
        top: 56%;
        left: 10%;
    }

    #textField-2 {
        top: 65%;
        left: 10%;
        width: 250px;
    }
}





.sniffing-bear {
    width: 300px;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 30%;
    animation: fadeInPage 5s forwards;
}

.opening-text-4 {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.exercise-3 {
    position: absolute;
    top: 35%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

form.checkboxes {
    position: absolute;
    top: 40%;
    right: 20%;
    width: 350px;
    line-height: 1.4;
    accent-color: grey;
}

div.form-background {
    background-color: linen;
    width: 120px;
    padding: 3px 0 3px 3px;
    border-right: 1px dashed black;
}

button#try-it-side {
    position: absolute;
    top: 46%;
    right: 23%;
}

#textField-3 {
    position: absolute;
    top: 63%;
    right: 20%;
    width: 300px;
    background-color: black;
    color: linen;
    z-index: 1;
}

@media (max-width: 400px) {
    .opening-text-4 {
        top: 10%;
        width: 270px;
        left: 10%;
        background-color: linen;
    }

    .exercise-3 {
        width: 270px;
        top: 33%;
        left: 10%;
    }

    form.checkboxes {
        left: 10%;
        top: 42%;
        width: 270px;
    }

    button#try-it-side {
        position: absolute;
        top: 42%;
        right: 19%;
        width: 120px;
    }

    #textField-3 {
        top: 66%;
        left: 10%;
        width: 250px;
    }
}




.sitting-bear {
    width: 300px;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 30%;
    animation: fadeInPage 5s forwards;
}

.opening-text-5 {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.exercise-4 {
    position: absolute;
    top: 37.5%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

textarea#translation-2 {
    top: 45%;
}

input[id="try-it-input"] {
    position: absolute;
    top: 54%;
    right: 20%;
    z-index: 1;
}

@media (max-width: 400px) {
    .opening-text-5 {
        top: 10%;
        width: 270px;
        left: 10%;
        background-color: linen;
    }

    .exercise-4 {
        width: 270px;
        top: 32%;
        left: 10%;
    }

    textarea#translation-2 {
        left: 10%;
        top: 43%;
        width: 270px;
    }

    input[id="try-it-input"] {
        position: absolute;
        top: 52.5%;
        left: 10%;
    }
}






.lying-down-bear {
    width: 280px;
    z-index: 1;
    position: absolute;
    bottom: 1%;
    left: 8%;
    animation: fadeInPage 5s forwards;
}

.opening-text-6 {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.exercise-5 {
    position: absolute;
    top: 37.5%;
    right: 20%;
    width: 350px;
    background-color: linen;
}

.page-6-button {
    position: absolute;
    top: 46%;
    right: 20%;
}

@media (max-width: 400px) {
    .opening-text-6 {
        top: 10%;
        width: 270px;
        left: 10%;
        background-color: linen;
    }

    .exercise-5 {
        width: 270px;
        top: 32%;
        left: 10%;
    }

    .page-6-button {
        position: absolute;
        top: 40%;
        left: 10%;
    }
}





div.center-button {
    display: flex;
    justify-content: center;
}

.page-7-button {
    position: absolute;
    top: 45%;
}

.sitting-bear-2 {
    width: 300px;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 45%;
    animation: fadeInPage 5s forwards;
}

.sniffing-bear-2 {
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 20%;
    animation: fadeInPage 5s forwards;
}

.walking-bear-2 {
    width: 150px;
    z-index: 1;
    position: absolute;
    bottom: 31%;
    left: 10%;
    animation: fadeInPage 5s forwards;
}